# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

# Secrets files
secrets.json
.streamlit\secrets.json
.streamlit/secrets.toml
LangchainProcessedDocs/
prompts/
summaries/
.streamlit/

# VS Code settings
.vscode/

# Logs
*.log
